<header class="header-global">
  <a href="/" class="logo">
    <h1>{{ "general.shop.title" | t }}</h1>
  </a>

  <a href="/" class="shop-link text-link">{{ "header.nav.shop" | t }} </a>

  {% assign cart_text = 'cart.button.count_html' | t: itemCount: cart.item_count
  %}
  <!-- have to set item count as something to match with in json file -->
  {% assign cart_close_text = 'cart.button.close' | t %}

  <a href="/cart" class="cart-link text-link js-cart-link">
    <span class="cart-text">{{ cart_text }}</span>
    <span class="cart-close-text">{{ cart_close_text }}</span>
  </a>
</header>
