<div id="page-index">
  <div class="index-top wrapper valign-center ta-center">
    <h1 class="description">{{ "general.shop.description" | t }}</h1>
    <p class="sub-description">{{ "general.shop.sub_description" | t }}</p>
  </div>

  <div class="index-products wrapper">
    {% for product in collections.frontpage.products %} {% include
    'product-card' %} {% endfor %}
  </div>
</div>
